In [1]:
import numpy as np 
import pandas as pd 
import string
from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import os
import plotly.plotly as py

# World 50 Best Restaurants 2018 location

In [ ]:
<!-- PELICAN_BEGIN_SUMMARY -->
Map world 50 best restaurants 

<!-- PELICAN_END_SUMMARY -->

In [ ]:
<br>
**Goals: How to interperate and visualize dataset?**
<br> **Data Overview:**
     - Group Data 
     - Map Data
     - Visualize Data

In [2]:
print(os.listdir("data/Restaurant"))
df = pd.read_excel('data/Restaurant/WorldBestRestaurants2018.xlsx')

['BestRestaurants2018.csv', 'BestRestaurants2018.xlsx', 'FastFoodRestaurants.csv', 'Test.xlsx', 'test1.csv', 'WorldBestRestaurants2018.csv', 'WorldBestRestaurants2018.xlsx', '~$WorldBestRestaurants2018.xlsx']

In [3]:
df.head()

,Year,Ranking,Name,City,Country,Latitude,Longitude,Code
0,2018,1,Osteria Francescana,Modena,Italy,44.6431,10.9341,ITA
1,2018,2,El Celler de Can Roca,Girona,Spain,41.9808,2.8187,ESP
2,2018,3,Mirazur,Menton,France,43.7747,7.5046,FRA
3,2018,4,Eleven Madison Park,New York,USA,40.7146,-74.0071,USA
4,2018,5,Gaggan,Bangkok,Thailand,13.7500,100.5160,THA

In [4]:
print('Total number of columns:',df.shape[1])
print('Total number of rows:',df.shape[0])

Total number of columns: 8
Total number of rows: 50

In [5]:
print('countries are:',df.Country.unique())
print('city:',df.City.unique())

countries are: ['Italy' 'Spain' 'France' 'USA' 'Thailand' 'Peru' 'Mexico' 'Austria'
 'Russia' 'Japan' 'Denmark' 'Australia' 'China' 'Chile' 'Singapore'
 'Brazil' 'UK' 'Norway' 'Germany' 'Turkey' 'Switzerland' 'Slovenia'
 'South Africa']
city: ['Modena' 'Girona' 'Menton' 'New York' 'Bangkok' 'Lima' 'Paris'
 'San Sebastian' 'Axpe' 'Mexico City' 'Pocantico Hills' 'Vienna' 'Moscow'
 'Alba' 'Tokyo' 'Barcelona' 'Copenhagen' 'Melbourne' 'Rubano' 'Shanghai'
 'Santiago' 'Singapore' 'São Paulo' 'London' 'Chicago' 'Oslo'
 'Castel di Sangro' 'Berlin' 'Larrabetzu' 'Istanbul' 'San Francisco'
 'Fürstenau' 'Kobarid' 'Cape Town']

In [6]:
df.Name.value_counts()[:10]

Boragó                              1
Schloss Schauenstein                1
Le Calandre                         1
Reale                               1
Central                             1
Arpège                              1
Eleven Madison Park                 1
Nihonryori RyuGin                   1
Alléno Paris au Pavillon Ledoyen    1
Den                                 1
Name: Name, dtype: int64

In [7]:
import plotly.plotly as py
import pandas as pd

data = [ dict(
        type = 'choropleth',
        locations = df['Code'],
        z = df['Ranking'],
        text = df['Country'],
        colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
#             tickprefix = '$',
            title = 'Ranking'),
      ) ]

layout = dict(
    title = '2018 best restaurants',
    geo = dict(
        showframe = False,
        showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='d3-world-map' )