In [1]:
from IPython.core.interactiveshell import InteractiveShell
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
%matplotlib inline 
import matplotlib.pyplot as plt
import pandas as pd

# Merge and Reshape Data
    Instead of using Vlookup or Sumif in Excel, how to get a clean and only valid data for data analysis?
    - Joint two dataframe using Key - Database-style DataFrame Merges
    - How to spot the invalid data?  
    - Remove duplicate data
    - Know the average value or the maximum value of certain dataset. This will help to spot an unusual value to validate the data.         
    
Step 1 - from 2015 Census data example
The data has a column for state, but some with incorrect spelling. In Excel, you can use vlookup to search for invalid data and sumif to add up data.
Import fuzzywuzzy library and follow the code to covert the incorrect state to correct state.

In [2]:
df = pd.read_excel('../extra/sample.xlsx')
df.head(5)

,STATEFIPS,STATE,zipcode,agi_stub,income1,income2,income3,income4,income5,income6,...,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902,total
0,1,New Hampshere,0,1,836320,481570,109790,233260,455560,1356760,...,328469,0,0,0,0,61920,48150,732670,1933120,1427680
1,1,New Yok,0,2,494830,206630,146250,129390,275920,1010990,...,965011,0,0,0,0,73720,107304,415410,1187403,847710
2,1,Floria,0,3,261250,80720,139280,36130,155100,583910,...,1333418,0,0,0,0,64200,139598,193030,536699,481250
3,1,New York,0,4,166690,28510,124650,10630,99950,423990,...,1414283,0,0,0,0,45460,128823,116440,377177,319850
4,1,New York,0,5,212660,19520,184320,4830,126860,589490,...,3820152,420,168,60,31,83330,421004,121570,483682,416500