In [2]:
from IPython.core.interactiveshell import InteractiveShell
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
%matplotlib inline 
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Data validation in Python after reading Excel file from datasets

Use Python codes to clean datasets.
This can be very effective when you need to verify datasets for financial analysis.

Datasets inquiry to spot check the dataset make sense or not
     - which stock has the highest diviend?


It’s a quick way to exam the accuracy of the datasets.
    - Sum up columns or rows in python and save the file in Excel
    - transpose columns
    - get the maximum, mean, average value in the datasets 
    - filter data to isolate invalid data


# Example - Dow Jone index and DJ Index 30  from 1/29/1985 to 10/25/2017 
    
    - How to sum up columns income1, income2 and income3? 
    - Once we decide to sum up the total to income1, income2 and income3, we need to save it in Python.
    - Its easy to create a total in Excel, for data integrity, we need to do one more step in Python to add the column “total”.

    
    
#Step 1: read the Excel dataset
    - which stock has the highest dividend yield
# df["Dividend Yield"].max()

## to get the row that has the max value 
<!-- ref: https://stackoverflow.com/questions/10202570/pandas-dataframe-find-row-where-values-for-column-is-maximal -->
<!--#df.iloc[df["Dividend Yield"].idxmax()] -->

In [42]:
df = pd.read_excel('../extra/Dow.xlsx')
df.head()

,Stock Symbol,Company Name,Dividend Yield,Closing Price,Annualized Dividend,Ex-Div Date,Pay Date,50-day moving average,200-day moving average
0,WMT,Wal-Mart Stores,0.0242,85.91,2.08,2018-12-06,2019-01-02,82.35,78.6800
1,V,Visa,0.0070,119.78,0.84,2018-02-15,2018-03-06,106.44,98.9627
2,VZ,Verizon,0.0496,47.58,2.36,2018-04-09,2018-05-01,48.73,47.0300
3,UNH,UnitedHealth Group,0.0135,221.90,3.00,2018-03-08,2018-03-20,198.85,187.4800
4,UTX,United Technologies,0.0229,122.45,2.80,2018-02-15,2018-03-10,116.43,118.6200

In [43]:
max_div_stock=df.iloc[df["Dividend Yield"].idxmax()]
max_div_stock
print("The stock with the max dividend yield is %s with yield %s" % (max_div_stock['Company Name'],max_div_stock['Dividend Yield']))

The stock with the max dividend yield is Verizon with yield 0.0496

In [44]:
# which stock has the lowest annualized dividend

min_div_stock=df.iloc[df["Dividend Yield"].idxmin()]
min_div_stock
print("The stock with the minimum dividend yield is %s with yield %s" % (min_div_stock['Company Name'],min_div_stock['Dividend Yield']))

The stock with the minimum dividend yield is Visa with yield 0.007

In [45]:
# which stock is below 50-day moving average ... how to attach to the stock?  4/12/18
# first calculate the difference between 50-day moving average and closing price 
df["Dif 50-day"] = df["50-day moving average"] - df["Closing Price"]
df.tail(5) 
df["Dif 50-day"].min()

-71.970000000000027

In [46]:
#can easily insert column and assign value instead of in Excel
df.insert(2,"Com Rate %", 5)
df.head()

,Stock Symbol,Company Name,Com Rate %,Dividend Yield,Closing Price,Annualized Dividend,Ex-Div Date,Pay Date,50-day moving average,200-day moving average,Dif 50-day
0,WMT,Wal-Mart Stores,5,0.0242,85.91,2.08,2018-12-06,2019-01-02,82.35,78.6800,-3.56
1,V,Visa,5,0.0070,119.78,0.84,2018-02-15,2018-03-06,106.44,98.9627,-13.34
2,VZ,Verizon,5,0.0496,47.58,2.36,2018-04-09,2018-05-01,48.73,47.0300,1.15
3,UNH,UnitedHealth Group,5,0.0135,221.90,3.00,2018-03-08,2018-03-20,198.85,187.4800,-23.05
4,UTX,United Technologies,5,0.0229,122.45,2.80,2018-02-15,2018-03-10,116.43,118.6200,-6.02

In [47]:
# save the calucation and the new column to the Excel file?
df.to_excel('../extra/Dow.xlsx')
df.tail()   #we can see the column we created is saved in the Excel file now

,Stock Symbol,Company Name,Com Rate %,Dividend Yield,Closing Price,Annualized Dividend,Ex-Div Date,Pay Date,50-day moving average,200-day moving average,Dif 50-day
25,CAT,Caterpillar Inc.,5,0.0213,146.79,3.12,2018-04-20,2018-05-19,127.150,112.1300,-19.640
26,BA,Boeing Co.,5,0.0209,327.36,6.84,2018-02-08,2018-03-02,255.390,218.1440,-71.970
27,AAPL,Apple Inc.,5,0.0146,172.44,2.52,2018-02-09,2018-02-15,156.641,152.6100,-15.799
28,AXP,American Express,5,0.0153,91.60,1.40,2018-04-05,2018-05-10,90.340,84.1304,-1.260
29,MMM,3M,5,0.0254,214.33,5.44,2018-02-15,2018-03-12,216.330,206.6900,2.000

 * - two new columns created in python is saved in the Excel file

In [48]:
# count rows and columns -- useful when dealing with hugh dataset

Count_Row=df.shape[0] #gives number of row count
Count_Col=df.shape[1] #gives number of col count
print(Count_Row)
print(Count_Col)

30
11

In [50]:
# sum up total for specific columns
sum_row=df[["Dividend Yield","Closing Price"]].sum()
sum_row

Dividend Yield       0.7648
Closing Price     3513.1300
dtype: float64

#How to transpose columns? 
    - This will be very helpful to put in the report spec to identify which column of data should be use for report

In [51]:
df_sum=pd.DataFrame(data=sum_row).T
df_sum  #easy to transpost the sum

   Dividend Yield  Closing Price
0          0.7648        3513.13