In [18]:
from IPython.core.interactiveshell import InteractiveShell
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
%matplotlib inline 
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3

# SQLite Database for Financial Analysis - SQLite and DB Browser

<!-- PELICAN_BEGIN_SUMMARY -->

After merging and reshaping the datasets, we can use SQLite to safely store, organize and manipulate data in smaller environments.
SQLite is a flexible database that can do real work in real business environments and the SQLite library is also integrated
into a number of popular scripting languages, including Python.
This database tool can also be useful for accountants doing financial analysis.

<!-- PELICAN_END_SUMMARY -->

<img src="/images/SQLflowchart.png" alt="[img: SQL flowchart]" title="SQLite flowchart" />

#### **What is SQLite?**
from "Using SQLite" by Jay A. Kreibich

What is SQLite: In the simplest terms, SQLite is a public-domain software package that provides a
relational database management system, or RDBMS. Relational database systems are
used to store user-defined records in large tables. In addition to data storage and management, a database engine can process complex query commands that combine data
from multiple tables to generate reports and data summaries.
The “Lite” in SQLite does not refer to its capabilities. Rather, SQLite is lightweight
when it comes to setup complexity, administrative overhead, and resource usage

#### **What is DB Browser for SQLite?**
DB Browser for SQLite is a high quality, visual, open source tool used to create, design, and edit database files compatible with SQLite.

It is for users and developers wanting to create, search, and edit databases. It uses a familiar spreadsheet-like interface,
and you don't need to learn complicated SQL commands. This program is not a visual shell for the sqlite command line tool.

#### **Why would we use SQLite to read Excel Files?**
- Sort data on several fields
- Combine data from different spreadheets 
- Use free graphical user interface (GUI) tools to run SQL queries on database
- Convert Excel files to tables
- Install Scientific Python to convert Excel file in SQLite database in just 8 lines of code
- Note: Excel tab name cannot have spaces, but underscores are acceptable

#### **Connecting SQLite **
- The example is an Excel file "PremiumLossSQLite.xlsx" 
- The file has three tabs - premium, loss and reinsurance
- The first row in each sheet should have legal column names. Here is the conversion code:

In [19]:
filename="data/PremiumLossSQLite"   # name of Excel xlsx file. SQLite database will have the same name and extension .db
con=sqlite3.connect(filename+".db") # filename+".db"
wb=pd.read_excel(filename+'.xlsx',sheet_name=None)
for sheet in wb:
#     wb[sheet].to_sql(sheet,con, index=False)
    wb[sheet].to_sql(sheet,con, index=False, if_exists='replace')
con.commit()
#con.close()

#### **A handy tool to visualize and access SQLite databases is the free DB Browser**
#### **Below is the screenshot of the database structures after connecting from Excel to SQLite by using Python**
<img src="/images/DBimage.png" alt="[img: DB Browser after import Excel to SQLite and view the table]" title="DbBrowser Query" />

#### ** Query inner join between the reinsurance, premium and loss data and export the data to Excel**
- Query list of policies with incurred losses that covered under the reinsurance treaty
- Instead of Excel VLookup function that has certian limitation
- We can repeat/automate the query process when new data get updated 
- Save the query result to SQLite
- Save the query result to Excel

In [20]:
sql_statement='''
select r.PolicyNumber as Policy_from_Reinsurance_Tab, p.PolicyNumber as Policy_from_Policy_Tab, l.PolicyNumber as Policy_from_Loss_Tab
from reinsurance as r
join premium as p on p.PolicyNumber=r.PolicyNumber
join loss as l on l.PolicyNumber=r.PolicyNumber
'''
df = pd.read_sql(sql_statement,con)

df.to_sql('reinsurace_query_results', con,if_exists='replace') 
df.to_excel('data/reinsurace_query_results.xlsx')

In [21]:
sql_statement='''
select p.* from premium as p
'''
df = pd.read_sql(sql_statement,con)

df.head()

,PolicyNumber,FirstName,LastName,PolicyEffectiveDate,LOB,PolicyType,Premium,Coverage,ExcessCoverage,ExcessPolicy
0,10880,Kurtis,Dumm,2017-07-08 00:00:00,Phy,CM,232058,1000000,3900000,96289.0
1,10948,Florencia,Bilyk,2017-06-05 00:00:00,Podiatrist,CM,5132,1000000,3900000,99671.0
2,10962,Taisha,Whack,2017-09-19 00:00:00,Dentist,OCC,11308,1000000,3900000,91809.0
3,11028,Yun,Linely,2017-10-11 00:00:00,Dentist,OCC,13381,1000000,3900000,94102.0
4,10244,Wonda,Hallsworth,2017-08-07 00:00:00,Dentist,OCC,13330,1000000,3900000,92319.0

#### ** Save the query result in SQLite**
<img src="/images/SQLQuery.png" alt="[img: Reinsurance Query Save in SQLite]" title="Reinsurance Query SQL " />

#### **Save the query result as an Excel file**
<img src="/images/reinsurance.jpg" alt="[img: Reinsurance Query Save in Excel from SQLite]" title="Reinsurance Query Excel" />

In [22]:
## Option A - use DML to add a column :-|
# Obtain a Cursor object to execute SQL statements
cur=con.cursor()

# Add a new column to premium table

addColumn = "ALTER TABLE premium ADD COLUMN Reinsurers varchar(32)"

cur.execute(addColumn)

In [23]:
sql_statement='''
select p.* from premium as p
'''
df = pd.read_sql(sql_statement,con)
df.head()

,PolicyNumber,FirstName,LastName,PolicyEffectiveDate,LOB,PolicyType,Premium,Coverage,ExcessCoverage,ExcessPolicy,Reinsurers
0,10880,Kurtis,Dumm,2017-07-08 00:00:00,Phy,CM,232058,1000000,3900000,96289.0,None
1,10948,Florencia,Bilyk,2017-06-05 00:00:00,Podiatrist,CM,5132,1000000,3900000,99671.0,None
2,10962,Taisha,Whack,2017-09-19 00:00:00,Dentist,OCC,11308,1000000,3900000,91809.0,None
3,11028,Yun,Linely,2017-10-11 00:00:00,Dentist,OCC,13381,1000000,3900000,94102.0,None
4,10244,Wonda,Hallsworth,2017-08-07 00:00:00,Dentist,OCC,13330,1000000,3900000,92319.0,None

In [24]:
## Option B - use to_sql to add a column - much easier and more native to PANDAS way of doing things
# Obtain a Cursor object to execute SQL statements

df['Reinsurers2']='ABC Re'
df.to_sql('premium',con,if_exists='replace') 

df

,PolicyNumber,FirstName,LastName,PolicyEffectiveDate,LOB,PolicyType,Premium,Coverage,ExcessCoverage,ExcessPolicy,Reinsurers,Reinsurers2
0,10880,Kurtis,Dumm,2017-07-08 00:00:00,Phy,CM,232058,1000000,3900000,96289.0,None,ABC Re
1,10948,Florencia,Bilyk,2017-06-05 00:00:00,Podiatrist,CM,5132,1000000,3900000,99671.0,None,ABC Re
2,10962,Taisha,Whack,2017-09-19 00:00:00,Dentist,OCC,11308,1000000,3900000,91809.0,None,ABC Re
3,11028,Yun,Linely,2017-10-11 00:00:00,Dentist,OCC,13381,1000000,3900000,94102.0,None,ABC Re
4,10244,Wonda,Hallsworth,2017-08-07 00:00:00,Dentist,OCC,13330,1000000,3900000,92319.0,None,ABC Re
5,11106,None,Sarasota Hospital,2017-08-14 00:00:00,Hospital,OCC,446997,1000000,3900000,97303.0,None,ABC Re
6,11271,Zola,Fitzwallace,2017-07-15 00:00:00,Dentist,OCC,24252,1000000,3900000,97474.0,None,ABC Re
7,11339,Ricarda,Hotaka,2017-12-25 00:00:00,Podiatrist,OCC,2651,1000000,3900000,91367.0,None,ABC Re
8,11358,Clifford,Stodden,2017-12-14 00:00:00,Chiropractor,OCC,3091,1000000,3900000,91648.0,None,ABC Re
9,10509,Patrica,Hartle,2017-02-09 00:00:00,Podiatrist,OCC,5647,1000000,3900000,96730.0,None,ABC Re
10,11415,Birgit,Tramell,2017-06-27 00:00:00,Phy,CM,205839,1000000,3900000,97593.0,None,ABC Re
11,11762,Franchesca,Silverthorne,2017-04-26 00:00:00,Podiatrist,CM,4514,1000000,3900000,92292.0,None,ABC Re
12,10700,Sabra,Higgenbotham,2017-10-07 00:00:00,PA,OCC,12021,1000000,3900000,90239.0,None,ABC Re
13,11887,Nathan,Brickell,2017-12-14 00:00:00,Podiatrist,OCC,2309,1000000,3900000,95405.0,None,ABC Re
14,12390,Todd,Gwynne,2017-04-21 00:00:00,Dentist,OCC,20506,1000000,3900000,94026.0,None,ABC Re
15,12470,Lorean,Briel,2017-09-22 00:00:00,Phy,OCC,111522,1000000,3900000,96643.0,None,ABC Re
16,12602,Penelope,Eleonora,2017-08-27 00:00:00,Phy,OCC,133494,1000000,3900000,98244.0,None,ABC Re
17,12652,None,Brasher Hospital,2017-07-25 00:00:00,Hospital,Tail,371474,1000000,3900000,95279.0,None,ABC Re
18,12803,Junior,Charday,2017-09-03 00:00:00,Dentist,CM,15003,1000000,3900000,90615.0,None,ABC Re
19,13281,Melonie,Wilhem,2017-05-16 00:00:00,Dentist,OCC,12580,1000000,3900000,95952.0,None,ABC Re
20,13490,Consuelo,Zoller,2017-10-10 00:00:00,Podiatrist,OCC,3555,1000000,3900000,93951.0,None,ABC Re
21,13854,Micheline,Jobling,2017-10-16 00:00:00,Dentist,OCC,20603,1000000,3900000,95415.0,None,ABC Re
22,13931,Jacquelyne,Ryson,2017-10-19 00:00:00,Phy,CM,79984,1000000,3900000,95627.0,None,ABC Re
23,14457,Gregorio,Bibby,2017-02-05 00:00:00,PA,CM,7508,1000000,3900000,98263.0,None,ABC Re
24,14570,Tawana,Kalan,2017-05-02 00:00:00,Dentist,OCC,16597,1000000,3900000,98591.0,None,ABC Re
25,14622,Marisol,Cynder,2017-02-03 00:00:00,Podiatrist,OCC,3717,1000000,3900000,99967.0,None,ABC Re
26,14967,Camilla,Lecher,2017-08-25 00:00:00,Chiropractor,OCC,2474,1000000,3900000,99057.0,None,ABC Re
27,15221,Candy,Willmore,2017-02-14 00:00:00,Phy,OCC,45447,1000000,3900000,95386.0,None,ABC Re
28,15475,Shad,Michell,2017-04-16 00:00:00,PA,OCC,9401,1000000,3900000,98201.0,None,ABC Re
29,15561,Edie,Millward,2017-07-26 00:00:00,Dentist,OCC,19012,1000000,3900000,91923.0,None,ABC Re
...,...,...,...,...,...,...,...,...,...,...,...,...
170,44411,Vivian,Marcela,2017-03-01 00:00:00,Phy,OCC,46307,1000000,3900000,97844.0,None,ABC Re
171,44767,Leonila,Viridi,2017-02-03 00:00:00,Podiatrist,CM,2175,1000000,3900000,99548.0,None,ABC Re
172,45069,Muoi,Fiera,2017-12-26 00:00:00,Phy,OCC,89244,1000000,3900000,92332.0,None,ABC Re
173,45100,Dorothea,Somerfield,2017-07-13 00:00:00,Phy,OCC,188359,1000000,3900000,90331.0,None,ABC Re
174,45225,Shayne,Penderwick,2017-10-10 00:00:00,PA,OCC,15678,1000000,3900000,95800.0,None,ABC Re
175,45255,Norris,Aella,2017-05-27 00:00:00,Podiatrist,OCC,3013,1000000,3900000,91692.0,None,ABC Re
176,45586,Carolynn,Godber,2017-11-29 00:00:00,Phy,OCC,21765,1000000,3900000,97857.0,None,ABC Re
177,45942,Renae,Lamperouge,2017-07-10 00:00:00,Phy,OCC,130041,1000000,3900000,97230.0,None,ABC Re
178,46031,Romaine,Maha,2017-03-28 00:00:00,Dentist,OCC,18072,1000000,3900000,96342.0,None,ABC Re
179,46186,Isaias,Kirche,2017-08-03 00:00:00,Dentist,CM,20803,1000000,3900000,99256.0,None,ABC Re
180,46824,Jerrica,Pimms,2017-07-04 00:00:00,Dentist,CM,24632,1000000,3900000,91490.0,None,ABC Re
181,46863,Rodrick,Hitomiko,2017-11-13 00:00:00,Phy,OCC,203002,1000000,3900000,93399.0,None,ABC Re
182,46938,Mathilda,Donovin,2017-12-20 00:00:00,Dentist,OCC,13864,1000000,3900000,94417.0,None,ABC Re
183,47005,Dean,Kibble,2017-12-28 00:00:00,Podiatrist,OCC,4021,1000000,3900000,97254.0,None,ABC Re
184,47222,Lillia,Durran,2017-02-16 00:00:00,PA,CM,10947,1000000,3900000,99476.0,None,ABC Re
185,47287,Natashia,Hanajima,2017-02-27 00:00:00,Dentist,OCC,12474,1000000,3900000,91084.0,None,ABC Re
186,47386,Ronna,Chrismukkah,2017-02-26 00:00:00,Phy,OCC,191144,1000000,3900000,96858.0,None,ABC Re
187,47432,Santiago,Rosenkrantz,2017-12-29 00:00:00,Phy,OCC,185669,1000000,3900000,95887.0,None,ABC Re
188,47471,Christiana,Irby,2017-06-20 00:00:00,PA,OCC,10003,1000000,3900000,95835.0,None,ABC Re
189,47700,Audria,Guele,2017-07-22 00:00:00,Phy,CM,101002,1000000,3900000,96915.0,None,ABC Re
190,47797,Glendora,Rescorla,2017-08-21 00:00:00,Phy,CM,144657,1000000,3900000,97105.0,None,ABC Re
191,48217,Marcia,Nogales,2017-07-01 00:00:00,Phy,OCC,118132,1000000,3900000,92356.0,None,ABC Re
192,48295,Naoma,Shiroyama,2017-08-28 00:00:00,Dentist,OCC,23972,1000000,3900000,96317.0,None,ABC Re
193,48458,Eleonor,Cacciatore,2017-01-30 00:00:00,Dentist,OCC,17851,1000000,3900000,96758.0,None,ABC Re
194,48563,Eufemia,Buttkiss,2017-11-11 00:00:00,Phy,OCC,66980,1000000,3900000,97281.0,None,ABC Re
195,48806,Carolee,Blackmer,2017-02-02 00:00:00,Dentist,OCC,10318,1000000,3900000,93936.0,None,ABC Re
196,49361,Jonathon,Chizu,2017-04-06 00:00:00,Dentist,CM,11871,1000000,3900000,97419.0,None,ABC Re
197,49517,Zofia,Baise,2017-02-17 00:00:00,Phy,OCC,19229,1000000,3900000,94440.0,None,ABC Re
198,49519,Tomi,Searing,2017-12-22 00:00:00,Dentist,OCC,20256,1000000,3900000,94131.0,None,ABC Re
199,49653,Willetta,Courcey,2017-09-24 00:00:00,PA,OCC,18161,1000000,3900000,99002.0,None,ABC Re

In [ ]:
con.close()