In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
# read the file only has one tab. no need to specified which tab
df = pd.read_excel('data/GL4Q19.xls')
df.head(3)
# shape can count row and columns
# Count_Row=df.shape[0] 
# print("There are %s rows" % (Count_Row)) 
rows=len(df) 
print("There are %s rows" % (rows)) 
columns=len(df.columns) 
print("There are %s rows" % (columns)) 
len(df)  #how many rows
len(df.columns)  # how many columns

,Period,Date,Journal,Comments,Comments2,Beginning Balance,Debit,Credit,Net Change,Ending Balance
0,103-02-01,NaN,NaN,SIGNATURE BANK - OPERATING ACCOUNT,NaN,199322.92,NaN,NaN,NaN,NaN
1,01,2019-01-02 00:00:00,CD-000240,A/P CHECK REGISTER,A/P CHECK REGISTER,NaN,NaN,60022.6,NaN,139300
2,01,2019-01-04 00:00:00,CD-000243,A/P CHECK REGISTER,A/P CHECK REGISTER,NaN,NaN,7450.8,NaN,131850

There are 30646 rows
There are 10 rows

30646

10

In [3]:
df.info()
# df[' Comments'].head(3)

# ## filter security type Equity and see the unrealized value
df_TPP=df[df['Comments2']=='THE PRINCETON PARTNERSHIP, LLC']
df_TPP.head(3)

# ## filter security type Corp and see the unrealized value
# df_corp=df[(df['Security Type']=='CORP') & (df['STAT Unrealized']!=0)]

# (df.groupby('STAT Classification')['STAT Unrealized']
# .agg(['mean', 'sum'])
# .style.format('${0:,.2f}'))

(df_TPP.groupby('Comments2')
.agg({'Debit':['sum'],'Credit':['sum']})
.style.format('${0:,.2f}'))

# (df.groupby('Comments')
# .agg({'Debit':['sum'],'Credit':['sum']}))

df_TPP.to_excel("output2019.xlsx")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30646 entries, 0 to 30645
Data columns (total 10 columns):
Period               27287 non-null object
Date                 26259 non-null object
Journal              26263 non-null object
Comments             27309 non-null object
Comments2            27308 non-null object
Beginning Balance    1055 non-null float64
Debit                16617 non-null object
Credit               11197 non-null object
Net Change           1027 non-null object
Ending Balance       26791 non-null object
dtypes: float64(1), object(9)
memory usage: 2.3+ MB

,Period,Date,Journal,Comments,Comments2,Beginning Balance,Debit,Credit,Net Change,Ending Balance
27,01,2019-01-31 00:00:00,MC-000087,"THE PRINCETON PARTNERSHIP, LLC W00203","THE PRINCETON PARTNERSHIP, LLC",NaN,NaN,146667,NaN,2.28892e+06
34,01,2019-01-31 00:00:00,MC-000087,"THE PRINCETON PARTNERSHIP, LLC W00208","THE PRINCETON PARTNERSHIP, LLC",NaN,NaN,73038.2,NaN,1.75426e+06
39,01,2019-01-31 00:00:00,MC-000090,"THE PRINCETON PARTNERSHIP, LLC W00214","THE PRINCETON PARTNERSHIP, LLC",NaN,NaN,146667,NaN,847132