In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
# read the file only has one tab. no need to specified which tab
df = pd.read_excel('data/GL4Q18.xls')
df.head(3)
# shape can count row and columns
# Count_Row=df.shape[0] 
# print("There are %s rows" % (Count_Row)) 
rows=len(df) 
print("There are %s rows" % (rows)) 
columns=len(df.columns) 
print("There are %s rows" % (columns)) 
len(df)  #how many rows
len(df.columns)  # how many columns

,Period,Date,Journal,Comments,Beginning Balance,Debit,Credit,Net Change,Ending Balance,Unnamed: 9,Unnamed: 10
0,103-02-01,NaN,NaN,SIGNATURE BANK - OPERATING ACCOUNT,134988.73,NaN,NaN,NaN,NaN,NaN,NaN
1,01,2018-01-01 00:00:00,JE-000007,Reversal: PRIMMA paid AFP,NaN,1275000,NaN,NaN,1.40999e+06,NaN,NaN
2,01,2018-01-02 00:00:00,CD-000071,A/P CHECK REGISTER,NaN,NaN,81131.8,NaN,1.32886e+06,NaN,NaN

There are 29869 rows
There are 11 rows

29869

11

In [3]:
df.info()
# df[' Comments'].head(3)

# filter security type Equity and see the unrealized value,,, there's a space before Comments.. its good to get information of the dataframe
df_TPP=df[df[' Comments']=='THE PRINCETON PARTNERSHIP, LLC']
df_TPP.head(3)

# ## filter security type Corp and see the unrealized value
# df_corp=df[(df['Security Type']=='CORP') & (df['STAT Unrealized']!=0)]

# (df.groupby('STAT Classification')['STAT Unrealized']
# .agg(['mean', 'sum'])
# .style.format('${0:,.2f}'))

(df_TPP.groupby(' Comments')
.agg({'Debit':['sum'],'Credit':['sum']})
.style.format('${0:,.2f}'))

# (df.groupby(' Comments')
# .agg({'Debit':['sum'],'Credit':['sum']}))

df_TPP.to_excel("output.xlsx")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29869 entries, 0 to 29868
Data columns (total 11 columns):
Period               27550 non-null object
Date                 26454 non-null object
Journal              26456 non-null object
 Comments            27541 non-null object
Beginning Balance    1221 non-null float64
Debit                17885 non-null object
Credit               10275 non-null object
Net Change           1095 non-null object
Ending Balance       27067 non-null object
Unnamed: 9           2 non-null object
Unnamed: 10          3 non-null float64
dtypes: float64(2), object(9)
memory usage: 2.5+ MB

,Period,Date,Journal,Comments,Beginning Balance,Debit,Credit,Net Change,Ending Balance,Unnamed: 9,Unnamed: 10
184,05,2018-05-31 00:00:00,MC-000056,"THE PRINCETON PARTNERSHIP, LLC",NaN,NaN,166559,NaN,793471,NaN,NaN
185,05,2018-05-31 00:00:00,MC-000056,"THE PRINCETON PARTNERSHIP, LLC",NaN,NaN,166559,NaN,626911,NaN,NaN
186,05,2018-05-31 00:00:00,MC-000057,"THE PRINCETON PARTNERSHIP, LLC",NaN,166559,NaN,NaN,793471,NaN,NaN