In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
**Excel Vlookup function in python**
- "Concat" function to Vlookup multiple tables

In [2]:
## list of tabs and how many tabs in the excel file
df = pd.ExcelFile('data/analysis4/ExampleMatch.xlsx')
print ('df.sheet_names=%s' % df.sheet_names)
number_tab = len(df.sheet_names)
print("There are %s tab in the file." % (number_tab))

df.sheet_names=['menu', 'fruit', 'vegetable']
There are 3 tab in the file.

In [3]:
# view each tab
df0 = pd.read_excel('data/analysis4/ExampleMatch.xlsx')
df1 = pd.read_excel('data/analysis4/ExampleMatch.xlsx', sheet_name = "menu")
df2 = pd.read_excel('data/analysis4/ExampleMatch.xlsx', sheet_name = "fruit")
df3 = pd.read_excel('data/analysis4/ExampleMatch.xlsx', sheet_name = "vegetable")
df1[0:1]
df2[0:1]
df3[0:1]

          Menu     Day
0  Mixed Fruit  Monday

      Day  Fruit
0  Monday  Apple

  Vegetable     Day
0  Cucumber  Friday

In [4]:
## Claim and reinsurance history by policy in one table 
## Select the common column (the one used as the joining reference) as the dataframe index:
dfi = df1.set_index('Day')

# join the three excel's tabs
dfj = pd.concat([df1, df2, df3], axis=1)
dfj[0:5]
# dfj[0:5].T

# save to a new file:
dfj.to_excel('data/analysis4/myMenu.xlsx')

                Menu        Day        Day      Fruit Vegetable        Day
0        Mixed Fruit     Monday     Monday      Apple  Cucumber     Friday
1     Vegetable Dips    Tuesday    Tuesday       Pear   Spinach  Wednesday
2  Grilled Vegetable  Wednesday  Wednesday     Banana    Celery     Monday
3              Fruit   Thursday   Thursday  Pineapple    Squash    Tuesday
4    Vegetable Soups     Friday     Friday       Plum    Carrot   Thursday

In [6]:
df2.set_index('Day',inplace=True)
df2_map = df2.Fruit.to_dict()

df1['Fruit']=df1.Day.map(df2_map)
df1

                Menu        Day      Fruit
0        Mixed Fruit     Monday      Apple
1     Vegetable Dips    Tuesday       Pear
2  Grilled Vegetable  Wednesday     Banana
3              Fruit   Thursday  Pineapple
4    Vegetable Soups     Friday       Plum

In [5]:
df = pd.read_excel('data/analysis4/Vlookup.xlsx')
t1 = pd.read_excel('data/analysis4/Vlookup.xlsx', sheet_name = "t1")
t2 = pd.read_excel('data/analysis4/Vlookup.xlsx', sheet_name = "t2")


t2.set_index('letters',inplace=True)
t2_map = t2.target.to_dict()

t1['target']=t1.letters.map(t2_map)
t1

   numbers letters target
0     1623       a    ddd
1     3266       b    eee
2     3672       c    fff