In [1]:
from IPython.core.interactiveshell import InteractiveShell
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
%matplotlib inline 
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('Amazon.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1  1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
2  1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
3  1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
4  1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200

In [4]:
type(df.Date[0])

str

In [6]:
df = pd.read_csv('Amazon.csv', parse_dates=["Date"])
df.head()

        Date      Open      High       Low     Close  Adj Close    Volume
0 1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1 1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
2 1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
3 1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
4 1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200

In [7]:
type(df.Date[0])

pandas._libs.tslib.Timestamp

In [11]:
df = pd.read_csv('Amazon.csv', parse_dates=["Date"],index_col="Date")
df.index

DatetimeIndex(['1997-05-15', '1997-05-16', '1997-05-19', '1997-05-20',
               '1997-05-21', '1997-05-22', '1997-05-23', '1997-05-27',
               '1997-05-28', '1997-05-29',
               ...
               '2018-05-15', '2018-05-16', '2018-05-17', '2018-05-18',
               '2018-05-21', '2018-05-22', '2018-05-23', '2018-05-24',
               '2018-05-25', '2018-05-29'],
              dtype='datetime64[ns]', name='Date', length=5294, freq=None)

In [13]:
df["2018-03"].Close.mean()

1540.367629333333

In [19]:
df["2018-03-01":"2018-03-05"]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-03-01,1513.599976,1518.489990,1465.00000,1493.449951,1493.449951,6835200
2018-03-02,1469.099976,1501.050049,1455.01001,1500.250000,1500.250000,6587600
2018-03-05,1494.239990,1525.380005,1481.00000,1523.609985,1523.609985,5233900

In [22]:
df["2018-03-01":"2018-03-01"]

                   Open        High     Low        Close    Adj Close   Volume
Date
2018-03-01  1513.599976  1518.48999  1465.0  1493.449951  1493.449951  6835200

In [23]:
df.loc["2018-03-01":"2018-03-01"]

                   Open        High     Low        Close    Adj Close   Volume
Date
2018-03-01  1513.599976  1518.48999  1465.0  1493.449951  1493.449951  6835200